/*
TODO
Colours:
#105DE1 Light Blue
#0E4598 Darker Blue
#012262 Dark Blue
*/

/*
 * Styles
 */


body {
  margin: 0;
  color: #105DE1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Archivo";
}

main {
  flex: 1;
}

a {
  color: inherit;
}

/*
 * Header
 */


header, footer, #login-signup {
  box-shadow: white 0 0 20px 0;
}

header {
  width: 100%;
  padding: 18px 50px;
  box-sizing: border-box;
  position: relative;
  font-size: 25px;
}

header nav {
  display: flex;
  width: 100%;
  align-items: center;
}

header nav a {
  text-decoration: none;
}

header nav .centre a {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(135deg, #105DE1 50%, #5f94f0 100%);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease;
  margin: 0 10px;
}

header nav .centre a:hover {
  background-position: 100% 100%;
}

header nav .right a {
  margin-left: 20px;
  color: grey;
}

header nav .left, header nav .right {
  flex: 0.5;
}

header nav .right {
  text-align: right;
  font-size: 18px;
}

header nav .centre {
  flex: 1;
  text-align: center;
}


/*
 * Banner
 */


#banner {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
}

#banner .left, #banner .right {
  flex: 1;
}

#banner .text {
  width: 300px;
  margin: auto;
}

#banner .text h1 {
  font-size: 90px;
  margin: 10px 0;
}

#banner .text p {
  font-size: 30px;
}

#banner .text .button {
  border-radius: 5px;
  background-color: #105DE1;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
}

#banner .right {
  background-image: url("../media/kb0.jpeg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  height: 100%;
}


/*
 * Footer
 */


footer, footer .right {
  display: flex;
  text-align: center;
}

footer .left, footer .right, footer .right .column {
  flex: 1;
}

footer .right .column a {
  display: block;
}


/*
 * Login/Signup
 */





/*
 * Buy
 */


#buy {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  background-color: #105DE1;
  align-items: center;
  padding: 18px 50px;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
}

#buy .left {
  flex: 1;
}

#buy .button {
  border-radius: 5px;
  background-color: white;
  color: #105DE1;
  padding: 10px;
}